@import "../../mixins";
.experience-entry {
  position: relative;
  margin-bottom: 15px;
  margin-left: -70px;
  padding-left: 70px;

  &__company-name-and-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__company-location {
    border: none;
    text-align: right;
    @include base-font;
  }

  &__company-description {
    margin-bottom: 2px;
  }

  &__position-and-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__position {
    font-weight: 700;
  }

  &__buttons {
    @include buttons-left;
  }

  &__button {
    @include button;
  }
}
