.experience-section {
  margin-top: 5px;

  &__heading {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
  }

  &__add-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__add-button {
    width: 100px;
    background: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

    @media print {
      display: none;
    }
  }
}
