.personal-section {
  &__row {
    text-align: center;
  }
  &__name {
    text-align: center;
    font-weight: 700;
    display: block;
  }

  &__phone-and-email {
    text-align: center;
    display: block;
    padding-left: 5px;
  }

  &__address {
    text-align: center;
  }

  &__separator {
    font-weight: 700;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.email-input {
  display: inline-block;
  &__button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    &--edit {
      visibility: hidden;
    }
  }
  .personal-section:hover &__button {
    &--edit {
      visibility: visible;
    }
  }
}
