@mixin base-font {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}

@mixin buttons-left {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  padding-right: 5px;
  justify-content: flex-end;

  :hover > & {
    display: flex;
    @media print {
      display: none;
    }
  }
}

@mixin button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 2px;
}
